{{#each this}}
    <div class="photo-card">
        <a href={{largeImageURL}}><img src={{webformatURL}} alt={{tags}} loading="lazy" width="300" height="200"/></a>
          <ul class="info">
            <li>
              <p class="info-item"><b>Likes </b></p>
              <p><b>{{likes}}</b></p>
            </li>
            <li>
               <p class="info-item"><b>Views </b></p>
               <p><b>{{views}}</b></p>
            </li>
            <li>
              <p class="info-item"><b>Comments </b></p>
              <p><b>{{comments}}</b></p>
            </li>
            <li>
              <p class="info-item"><b>Downloads </b></p>
              <p><b>{{downloads}}</b></p>
            </li>
          </ul>

      </div>

{{/each}}